*{


    font-family:sans-serif;

}
body{

    background: url('blueback.jpg') no-repeat ;
    background-size: cover;

}

.korisnik button{
    font-size: 25px;
    position:relative;
    top:200px;
    left:650px;
    background-color:darkseagreen;

}