table{
	width: 70%;
	margin: 0 auto;
	font-family: Georgia, serif;
	position:absolute;
	top:30%;
	left:15%;
}
table tr{
	line-height: 3em;
}


body{

background:url('Web-Page-Background-Color.jpg') no-repeat;
background-size:cover;

}

.akt-tabela h1{
left:40%;
position:absolute;

}



thead{
	background:olivedrab
}



tbody>tr:nth-child(2n){
	background:silver;
}

tbody>tr:nth-child(2n+1){
	background: white;
}




.button-form{
    width:80px;
      height:40px;      
    position:relative;
	left:270px;  
    color:silver;
	background-color: blue;

}


.button-forma{

	
	width:80px;
	height:40px;      
    color:silver;
	background-color: red;







}

#prijavazatermin1{
	font-family: Georgia, serif;
	position:relative;
	top:400px;
	left:670px;
	width:100px;
	height:75px;
	background-color:olivedrab;



}


#naslovprijave{
	position:relative;
	left:560px;
}





#otkazitermin{
	font-family: Georgia, serif;
	position:relative;
	top:400px;
	left:1350px;
	width:100px;
	height:75px;
	background-color:silver;



}

#naslovprijavljenitermini{
	position:relative;
	left:540px;
}


#odradjenitreninzi{
	position:relative;
	left:590px;
}


#odradjeniocenjeni{
	position:relative;
	left:590px;
}

#ocena{
	position:relative;
	left:690px;
	width:100px;
	height:50px;
	background-color:silver;
}



#napravinovitermin{
	position:relative;
	left:650px;
	top:100px;
	width:100px;
	height:50px;
	background-color:silver;
}



#izmenitrening{
	position:relative;
	left:690px;
	top:110px;
	width:100px;
	height:50px;
	background-color:silver;
}




#svitermini {
	position:relative;
	left:640px;

}









#izmenitermin {
	position:relative;
	left:1200px;
	top:80px;
	width:100px;
	height:50px;
	backgorund-color:silver;

}


#izmenifitnescentar{
	position:relative;
	left:230px;
	top:70px;
	width:100px;
	height:50px;
	background-color:silver;




}



#izbrisifitnescentar{
	position:relative;
	left:450px;
	top:70px;
	width:100px;
	height:50px;
	background-color:silver;




}






#dodajnovusalu{
	position:relative;
	left:620px;
	top:70px;
	width:120px;
	height:50px;
	background-color:silver;




}






#svesale{
	position:relative;
	left:840px;
	top:70px;
	width:120px;
	height:50px;
	background-color:silver;




}


#svesalenaslov{
	position:relative;
	left:400px;





}





#izmenisalu{
	position:relative;
	left:225px;
	top:82px;
	width:100px;
	height:50px;





}



#izbrisisalu{
	position:relative;
	left:1094px;
	top:82px;
	width:100px;
	height:50px;





}








#naslovuklonitrenera{
	position:relative;
	left:625px;

}




#uklonitrenera1{
	position:relative;
	left:670px;
	top:60px;
	width:120px;
	height:50px;

}